.titlte_store{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: fit-content ;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}

.container_items{
    display: grid;
    place-items: center;
    flex: 1;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}

.container_items p{
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: black
}
.item{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    border-radius: 8px;
    max-width: 250px;
    max-height: 300px;

}
.container_main{
    display: flex;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    height: fit-content;
}

.coins p{
    text-align: start;
}