.container{
    display: flex;
    flex-direction: column;
}

.itemsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.item{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    background: rgb(217,249,255);
    background: linear-gradient(90deg, rgba(217,249,255,1) 0%, rgba(255,255,255,1) 100%);
}

.imageItem{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
}

.description{
    color: black;
    font-size: 1.4rem;
    border-radius: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; /* Propriedade padrão, ainda experimental */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.buttonTask{
    color: black;
    background-color: #007bff;
    padding: 1rem;
}
.selectCustom {
    text-align: center;
    height: 100%;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent; 
    appearance: none;
    cursor: pointer; 
    text-transform: uppercase;
    color: black;
}

.rewards{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
}

.location{
    color: black;
    text-align: start;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.location svg{
    color: red;
}

.title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    color: black;
    margin-top: 8rem;
}



