NEXT_PUBLIC_API_BASE_URL="http://localhost:3005"
NEXT_PUBLIC_SUPABASE_URL=https://tqwtiviwzzljvqvsfdpi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxd3Rpdml3enpsanZxdnNmZHBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMwMTkzMjUsImV4cCI6MjA1ODU5NTMyNX0.lhJXQWjM3puZdDbOq1Gv1Wws3parB07AA83JbRe0pEk"
JWT_SECRET="YuZsB2ywZDf5vuDbYsnQQn5WXH+PTV1oMIRu2JBGYdQTTzFl2ZW6lu913Cr2Y9jdDgeTuEA1xmRoEMKqIw1Rjw=="