
.page-auth{
  display: flex;
  flex-direction: column;
  background: rgb(106,187,255);
  background: radial-gradient(circle, rgba(106,187,255,1) 6%, rgba(0,99,255,1) 88%);
  overflow: hidden; /* Remove a barra de rolagem */
  min-height: 100vh;
}

.page{
  display: flex;
  flex-direction: column;
  background: rgb(106,187,255);
  background: radial-gradient(circle, rgba(106,187,255,1) 6%, rgba(0,99,255,1) 88%);
  min-height: 100vh;
  margin: 0;
}

.logo_title{
  margin-left: 40px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10x 40px;
  background-color: #fdfdfd;
  color: black;
  height: 130px;
}

footer{
  height: 100px;
  width: auto;
  background-color: white;
  display: flex;
  justify-content: start;
}

footer p{
  color: black;
  margin-left: 40px;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
  list-style-type: none;
  margin-right: 20px; 
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px
}

nav ul li{
  display: inline;
  color: black;
  font-size: 20;
}

nav ul li a{
  text-decoration: none;
  color: black;

}

button{
  background-color: black;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  font-size: 15px;
}

main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 40px;
}


.sucess_message{
  color: rgb(5, 241, 190);
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.error_message{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: start;
}
.footerNav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerNav li{
  display: inline;
}

.footerlogo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}